<div class="container footer mt-5 mb-4">
    {% block footer_links %}
    <div class="links row">
        <div class="offset-sm-2 col-sm-10">
            <a class="mr-2" href="https://github.com/arschles">
                github.com/arschles
                <img class="github" src="{{ get_url(path='images/github.svg') }}" />
            </a>
            <a class="ml-2 mr-2" href="https://gifm.dev">
                Go in 5 Minutes
                <img class="gifm" src="{{ get_url(path='images/gifm.png') }}" />
            </a>
            <a class="ml-2 mr-2" href="/index.xml">
                RSS
                <img class="rss" src="{{ get_url(path='images/rss.svg') }}" />
            </a>
        </div>
    </div>
    {% endblock %}
</div>
