<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Go In 5 Minutes, a screencast series that presents short, informative and practical tips, patterns and best practices to Go developers."/>
<meta name="keywords" content="Programming, Go, Golang, Software, Software Engineering, Software Development, Technology, Screencast"/>
<meta name="author" content="Aaron Schlesinger"/>
<title>Aaron Schlesinger</title>

<link href="/css/bootstrap.min.css" rel="stylesheet"/>
<link href='https://fonts.googleapis.com/css?family=Varela+Round|Cousine:400,700' rel='stylesheet' type='text/css'>
<link href="/css/common.css" rel="stylesheet" />
