<div class="container footer mt-5 mb-4">
    <div class="links row">
        <div class="offset-sm-2 col-sm-10">
            <strong>
                <a href="https://gumroad.com/l/hgHhj">
                    The Ultimate Guide to Web Apps in Go
                </a>
            </strong>
        </div>
    </div>
    <div class="links row">
        <div class="offset-sm-2 col-sm-10">
            <a class="mr-2" href="https://github.com/arschles">
                github.com/arschles
                <img 
                    class="github"
                    src="/img/github.svg"
                />
            </a>◾
            <a
                class="ml-2 mr-2"
                href="https://twitter.com/arschles"
            >
                @arschles
                <img
                    class="twitter"
                    src="/img/twitter.svg"
                />
            </a>◾
            <a
                class="ml-2 mr-2"
                href="https://gifm.dev"
            >
                Go in 5 Minutes
                <img
                    class="gifm"
                    src="/img/gifm.png"
                />
            </a>◾
            <a
                class="ml-2 mr-2"
                href="/index.xml"
            >
                RSS
                <img
                    class="rss"
                    src="/img/rss.svg"
                />
            </a>
        </div>
    </div>
    <div class="copyright row">
        <div class="offset-sm-2 col-sm-10">
        
            {{ if .Site.Params.copyright }}
                {{ if .Site.Params.copyrightUrl }}
                    <a href="{{ .Site.Params.copyrightUrl }}">
                        {{ replace .Site.Params.copyright "{year}" now.Year }}
                    </a>
                {{ else }}
                    <a href="{{ .Site.BaseURL }}license">{{ replace .Site.Params.copyright "{year}" now.Year }}</a>
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>

{{ partial "footer_scripts" . }}

</body>
</html>
