<meta name="description" content="Aaron on the Web">
<meta property="twitter:site" content="@arschles">
<meta property="twitter:title" content="{{ .Title }}">

{{/*
    "summary" - for just text
    "summary_large_image" - for text and a card
*/}}
<meta
    property="twitter:card"
    content="{{ if .Params.twitter_card_type}}{{ .Params.twitter_card_type }}{{else}}summary{{end}}"
>
{{ if .Params.meta_img }}

{{ $fullURL := printf "%s/%s" .Site.BaseURL .Params.meta_img }}
<meta property="twitter:image" content="{{ $fullURL }}">
<meta property='og:image' content='{{ $fullURL }}'>
<meta itemprop='image' content='{{ $fullURL }}'>

{{ end }}

{{/* description */}}
<meta
    property="twitter:description"
    content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else if .IsPage }}{{ .Description }}{{ end }}"
>